.netflix-logo img {
    height: 39px;
    padding-top: 6px;
    padding-right: 30px;
    padding-left: 12px;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav li{
    text-decoration: none;
    color: rgb(207, 198, 198);
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
}

header nav {
    display: flex;
}

header nav li:hover {
    color: #FBFBFB;
    font-weight: bold;
}

#nav-secao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Seção Usuário */

.usuario  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ---------- Caixa de pesquisa --------------  */

#caixa-de-pesquisa {
    width: 50px;
    height: 30px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55);

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #0f0f0f;
    margin-right: 10px;
    border-radius:15px;
    float: left;
    border: 0;
  }
  
  #texto-busca {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    padding-left: 20px;
  }

  #caixa-de-pesquisa .botao-pesquisar {
      position: absolute;
      top: 50%;
      right: 1px;
      transform: translateY(-50%);
      width: 45px;
      text-align: center;
  }

  .botao-pesquisar {
    padding: 0 5px;
    border: none;
    border-radius: 15px;
    background-color: #202020;
    outline: none;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: -1px 0px 21px 0px rgba(0,0,0,1);
    -moz-box-shadow: -1px 0px 21px 0px rgba(0,0,0,1);
    box-shadow: -1px 0px 21px 0px rgba(0,0,0,1);
  }

  .botao-pesquisar img {
      align-items: center;
      padding-right: 30px;
  }

  #caixa-de-pesquisa button img {
      padding-bottom: 2px;
      font-style: italic;
      height: 25px;
      z-index: 9999;
  }

  #caixa-de-pesquisa button img:hover {
      cursor: pointer;
  }

  /* Efeito do botão pesquisar */

.botao-pesquisar:hover {
    cursor: pointer;
}

.botao-pesquisar::before {
    content: "";
    position: absolute;
    background-color: aliceblue;
    padding: 50%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

button:active::before {
    transition: 0s;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
}

/* Animação do botão pesquisar */

#caixa-de-pesquisa.active {
    width: 350px;
}

 /* Alinhamento e configurações do restante dos elementos da nav bar */

 .usuario .Elementos {
    height: 30px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .Elementos:hover {
      cursor: pointer;
  }

  .usuario p {
      padding-right: 10px;
  }

  .usuario p:hover {
    color: #F9F9F9;
    font-weight: bold;
    cursor: pointer;
  }

 .seta {
    height: 20px;
    padding-right: 2rem;
  }

  .seta:hover {
      cursor: pointer;
  }

  .Perfil {
      /* border-radius: 25px; */
      padding-right: 0px;
      -webkit-filter: grayscale(0%);
  }

  .Perfil:hover {
      -webkit-filter: grayscale(60%);
      transition: 0.2s;
      cursor: pointer;
  }