:root{
    --raio-da-borda: 4px;
    --tamanho-do-botao: 35.61px;
}

/* estilizando o catalogo */
.catalogo-de-filmes {
    padding-top: 3%;
}

.titulo-catalogo {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: 14px;
    display: inline-flex;
    margin: 0 0% 12px;
    align-items: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ver-tudo {
    display: none;
    font-size: 15px;
    margin-left: 1vw;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ver-tudo:hover {
    text-decoration: underline;
    color: rgb(212, 211, 211);
}

.miniatura-container.swiper-container {
    padding: 0 4%;
}

.miniatura-ancora {
    width: 20%;
}

.miniatura-catalogo {
    width: 100%;
    border-radius: var(--raio-da-borda);
}

/* estilizando  as setas laterais */

.catalogo-de-filmes .swiper-button-prev, 
.catalogo-de-filmes .swiper-button-next {
    height: 100%;
    width: calc(4% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(20, 20, 20, 0);
}

.catalogo-de-filmes .swiper-button-prev {
    left: 0;
    border-top-right-radius: var(--raio-da-borda);
    border-bottom-right-radius: var(--raio-da-borda);
}

.catalogo-de-filmes .swiper-button-next {
    right: 0;
    border-top-left-radius: var(--raio-da-borda);
    border-bottom-left-radius: var(--raio-da-borda);
}

.catalogo-de-filmes .swiper-button-prev::after, 
.catalogo-de-filmes .swiper-button-next::after {
    color: white;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

@media screen and (min-width: 820px) {
    
    .catalogo-de-filmes .swiper-button-prev::after, 
    .catalogo-de-filmes .swiper-button-next::after {
        display: none;
        font-size: 2.4vw;
    }

    .catalogo-de-filmes .swiper-button-prev:hover::after, 
    .catalogo-de-filmes .swiper-button-next:hover::after {
        transform: scale(1.25);
    }

    .catalogo-de-filmes:hover .swiper-button-next,
    .catalogo-de-filmes:hover .swiper-button-prev {
        background-color: hsla(0, 0%, 9%, 0.5);
    }

    .catalogo-de-filmes:hover .swiper-button-next::after,
    .catalogo-de-filmes:hover .swiper-button-prev::after {
        display: block;
    }
}

/* Estilizando o layout hover */

.esquema-suspenso {
    width: 320px;
    height: 130px;
    padding: 16px;
    -webkit-box-shadow: 0px 0px 35px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 35px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 35px -3px rgba(0,0,0,0.75);
    background: #181818;
}

.interatividade {
    width: 100%;
}

.acoes-interativas,
.interatividade {
    display: inline-flex;
    justify-content: space-between;
}

.acoes-interativas button {
    width: var(--tamanho-do-botao);
    height: var(--tamanho-do-botao);
    border: none;
    border-radius: 50%;
    background: #2A2A2A;
    margin-right: .5rem;
}

.acoes-interativas button img {
    width: var(--tamanho-do-botao);
    height: var(--tamanho-do-botao);
    cursor: pointer;
    border-radius: 50%;
    filter: brightness(1) invert();
    border: 2px solid #5B5B5B;
}

.acoes-interativas button:first-child img {
    border: 2px solid white;
    filter: none;
    background: white;
}

.acoes-interativas button:hover img {
    border: 2px solid black;
}

/* Hover do carrossel  */

/* .slide-obra.swiper-slide {
    transition: 250ms all;
}

.slide-obra.swiper-slide:hover {
    transform: scale(1.7);
    width: 100%;
    z-index: 99;
} */