@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --vermelho: #E50914;
    --preto: #181818;
    --preto-escuro: #000000;
    --cinza: rgba(255, 255, 255, 0.562);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
    width: 100%;
}

/* ---------- Cabeçalho e seção de navegação --------- */

header {
    height: 4.4rem;  /* mudar para 4.2 */ 
    padding: 20px;
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(6,6,6,1) 100%);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header section {
    display: inline-flex;
    align-items: center;
}

.cabecalho-responsivo {
    height: 33px;
}

.netflix-logo {
    /* Botão do Netflix */
    height: 33px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.netflix-logo img {
    height: 33px;
    padding-left: 5px;
}

header nav {
    display: flex;
    margin-left: 35px;
}

header nav .fa-caret-up {
    display: none;
}

header nav li {
    display: inline;
    cursor: pointer;
    list-style: none;
    font-size: 15px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
}

header nav li:hover {
    color: var(--cinza);
}

/* --------- Tabela de Navegar --------------- */

.navegar-menu {
    display: none;
    font-size: 15px;
    padding-left: 40px;
    font-family: 'Rubik', sans-serif;
}

/* ---------- Seção do usuario no cabeçalho  --------- */

.secao-usuario  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ------------ Caixa de Pesquisa ------------- */

#caixa-de-pesquisa {
    width: 30px;
    height: 33px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55);

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;
    border: none;
}

.botao-pesquisar {
    /* botão de pesquisar */
    border: none;
    padding: 5px;
    font-size: 18px;
    color: #FBFBFB;
    border-radius: 5px;
    background: transparent;
    outline: none;
    position: relative;
}

.botao-pesquisar:hover {
    color: rgba(255, 255, 255, 0.781);
}

#texto-busca {
    height: 100%;
    width: 100%;
    border: none;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    background: transparent;
}

#texto-busca::-webkit-input-placeholder {
    font-size: 14.2px;
    color: rgba(255, 255, 255, 0.555);
    font-family: Arial, Helvetica, sans-serif;
}

input {
    color: rgba(255, 255, 255, 0.555);
}

input:focus, button:focus {
    /* Configurações do Input */
    color: #F9F9F9;
    font-style: normal;
    outline: 0;
}

input::-webkit-search-cancel-button {
    display: none;
}

/* Configurações do simbolos de apagar */

#caixa-de-pesquisa img {
    height: 25px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.não-mostrar-cancelar {
    display: none;
}

.mostrar-cancelar {
    height: 25px;
    display: block;
}

#caixa-de-pesquisa {
    background: transparent;
}

.Elementos {
    height: 25px;
    cursor: pointer;
    margin-left: 25px;
    filter: brightness(0) invert(1);
}

.Elementos:hover {
    height: 28px;
}

.perfil {
    margin-left: 25px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.perfil img {
    height: 30px;
}

.seta {
    padding-right: 1.8rem;
    padding-left: 0.6rem;
    cursor: pointer;
    height: 10px;
    filter: brightness(0) invert(1);
    -webkit-transition: -webkit-transform 0.2s;
}

/* ----------------------------------------------------------------------- */

.filme-principal {
    background: linear-gradient(to right, #040404, #000000, hsla(0, 0%, 40%, 0)), linear-gradient(to top, #040404, #000000, hsla(0, 0%, 40%, 0)), url('../img/The-Queens-Gambit-Poster.jpg');
    background-position: 0, bottom, 460px  0px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 1020px 550px, 1500px 35px,  900px 550px;

    height: 550px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    padding-top: 10.3rem;
    width: 100%;
    padding-bottom: 10.2rem;
}

.texto-titulo {
    color: #FBFBFB;
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 80%;
    color: #FBFBFB;
}

.titulo-imagem {
    z-index: 0;
    padding-bottom: 40px;
    width: 60%;
}

.informacoes-basicas {
    display: flex;
}

.texto-transparente {
    font-size: 15px;
    padding-top: 5px; 
    color: #ECF0F1;
    opacity: 0.6;
    float: left;
}

.classificacao {
    height: 26px;
    padding-right: 2px;
    padding-left: 2px;
}

.botao {
    background-color: #5f5c5c59;
    border: none;
    border-radius: 3px;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s;
}

.descricao {
    font-family: 'Verdana';
    text-align: justify;
    line-height: 19px;
    font-size: 15px;
}

.Estrelando {
    font-family: 'Verdana';
    text-align: justify;
    line-height: 19px;
    font-size: 15px;
    padding-bottom: 1rem;
}

.texto-atores {
    padding-right: 5px;
}

#Atores {
    padding-top: 5px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 10px;
}

.container {
    margin-left: 28px;
}

.filme-principal .container{
    width: 60% /* fazer por outras midias para 70% */
}

/* Título da seção do carrossel */

.secao-preferidas {
    background:  linear-gradient(to bottom, #040404, #000000, hsla(0, 0%, 40%, 0));
}

.Titulo-secao {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 80px;
    height: 40px;
}

/* carrossel */

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.item div {
    position: absolute;
    top: 12px;
    left: 8px;
}
.carrossel-filmes {
    margin-top: 5px;
}

.item {
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0px;
    left: 0px;
    position: relative;
}

.item button {
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.9);
}