@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1,100&display=swap');

:root {
    --vermelho: #E50914;
    --preto: #181818;
    --preto-escuro: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

/* Cabeçalho e seção de navegação */

header {
    height: 45px;
    background-color: #000000;
}

header img {
    height: 39px;
    padding-top: 6px;
    padding-right: 30px;
    padding-left: 12px;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: rgb(207, 198, 198);
    margin-right: 15px;
}

header nav a:hover {
    color: #FBFBFB;
    font-weight: bold;
}

#nav-secao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Seção Usuário */

.usuario  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#caixa-de-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--preto-escuro);
    margin-right: 5px;
    border-radius:15px;
    width: 350px;
    float: left;
    border: 0;
  }
  
  #texto-busca {
    border-bottom: solid 0.1em #353232;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    padding-left: 5px;
    font-size: 15px;
    width: 400px;
    height: 30px;
    border: none;
  }

  #caixa-de-pesquisa img {
      border-left: solid 0.1em var(--vermelho);
      padding-bottom: 2px;
      font-style: italic;
      height: 25px;
  }

  #caixa-de-pesquisa img:hover {
      cursor: pointer;
  }

  .usuario .Elementos {
    height: 30px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .Elementos:hover {
      cursor: pointer;
  }

  .usuario p {
      padding-right: 10px;
  }

  .usuario p:hover {
    color: #F9F9F9;
    font-weight: bold;
    cursor: pointer;
  }

 .seta {
    height: 20px;
    padding-right: 2rem;
  }

  .seta:hover {
      cursor: pointer;
  }

  .Perfil {
      padding-right: 0px;
      -webkit-filter: grayscale(0%);
  }

  .Perfil:hover {
      -webkit-filter: grayscale(60%);
      transition: 0.5s;
      cursor: pointer;
  }
  
/* ----------------------------------------------------------------------- */

.filme-principal {
    background: linear-gradient(to right, #040404, #000000, hsla(0, 0%, 40%, 0)), linear-gradient(to top, #040404, #000000, hsla(0, 0%, 40%, 0)), url('../img/The-Queens-Gambit-Poster.jpg');
    background-position: 0, bottom, 460px  0px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 1020px 550px, 1500px 35px,  900px 550px;

    height: 550px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    padding-top: 10.3rem;
    width: 100%;
    padding-bottom: 10.2rem;
}

.texto-titulo {
    color: #FBFBFB;
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 80%;
    color: #FBFBFB;
}

.titulo-imagem {
    padding-bottom: 40px;
    width: 60%;
}

.informacoes-basicas {
    display: flex;
}

.texto-transparente {
    font-size: 15px;
    padding-top: 5px; 
    color: #ECF0F1;
    opacity: 0.6;
    float: left;
}

.classificacao {
    height: 26px;
    padding-right: 2px;
    padding-left: 2px;
}

.botao {
    background-color: #5f5c5c59;
    border: none;
    border-radius: 3px;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s;
}

.descricao {
    font-family: 'Verdana';
    text-align: justify;
    line-height: 19px;
    font-size: 15px;
}

.Estrelando {
    font-family: 'Verdana';
    text-align: justify;
    line-height: 19px;
    font-size: 15px;
    padding-bottom: 1rem;
}

.texto-atores {
    padding-right: 5px;
}

#Atores {
    padding-top: 5px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 10px;
}

.container {
    margin-left: 28px;
}

.filme-principal .container{
    width: 60% /* fazer por outras midias para 70% */
}

/* Título da seção do carrossel */

.secao-preferidas {
    background:  linear-gradient(to bottom, #040404, #000000, hsla(0, 0%, 40%, 0));
}

.Titulo-secao {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 80px;
    height: 40px;
}

/* carrossel */

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.item div {
    position: absolute;
    top: 12px;
    left: 8px;
}
.carrossel-filmes {
    margin-top: 5px;
}

.item {
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0px;
    left: 0px;
    position: relative;
}

.item button {
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.71);
}

/* geral */

input:focus, button:focus {
    color: #F9F9F9;
    font-style: normal;
    outline: 0;
}