.background-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar {
    display: flex;
}

.mostrar .modal {
    animation: modal .3s;
}

.modal {
    min-width: 300px;
    max-width: 40%;
    animation: modal 3s;
    
    /* Formatação do modal */
    height: 450px;
    width: 500px;
    font-size: 15px;
    font-family: Arial; 
    border-radius: 3px;
    line-height: 30px;
    word-spacing: 8px;
    letter-spacing: 1.2px;
    background-color: #3d3d3d;
    text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.81);
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal section .capa-modal {
    position: relative;
    padding: 0;
    width: 500px;
    height: 280px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal .classificacao-idade {
    height: 25px;
    float: left;
    padding-top: 3px;
    padding-right: 10px;
}

.texto-modal {
    float: left;
    padding-right: 10px;
}

.modal p {
    padding-left: 0.8rem;
}

.tema {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.fechar {
    position: absolute;
  }

.modal-logo {
    position: absolute;
    top: 12px;
    left: 8px;
    height: 25px;
}

/* Logo da série */

.logo-tema  img {
    position: absolute;
    height: 80px;
}

.logo-tema {
    position: absolute;
    top: 60%;
    left: 15%;
}

/* SEÇÃO DO BOTÃO */

.botao-modal img {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px solid #ffffff;
    background-color: #3d3d3d;
    padding: 0;
    height: 40px;
    width: 40px;
}

.interacoes button {
    background-color: #3d3d3d;
    border: none;
    color: white;

    padding: 12px 0px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s;
}

button .botao-modal {
    height: 40px;
    width: 40px;
}

.interacoes {
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.botoes-especiais {
    float: left;
    justify-content: space-between;
}

.sair {
    margin-right: 12px;
}

/* Parte do Tooltip (Dica de ferramenta) */
.botao-modal {
    position: relative;
}

.botao-modal::before,
.botao-modal::after {
    --scale: 0;
    --tamanho-da-seta: 10px;
    --vermelho-netflix: #EE0000;

    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 50ms transform;
    transform-origin: bottom center;
}

.botao-modal::before {
    --translate-y: calc(-100% - var(--tamanho-da-seta));

    content: attr(data-tooltip);
    color: aliceblue;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    background: var(--vermelho-netflix);
}

.botao-modal:hover::before,
.botao-modal:hover::after {
    --scale: 1;
}

.botao-modal::after {
    --translate-y: calc(-1 * var(--tamanho-da-seta));

    content: ' ';
    border: var(--tamanho-da-seta) solid transparent;
    border-top-color:var(--vermelho-netflix);
    transform-origin: top center;
}