@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1,100&display=swap');

:root {
    --vermelho: #E50914;
    --preto: #181818;
    --preto-escuro: #000000;
    --letra-transparente: #ffffff85;
    --cinza: rgba(255, 255, 255, 0.562);
    --fundo-padrão: linear-gradient(0deg, var(--preto) 0%, var(--preto-escuro) 100%);
    --fundo-topo-scroll: linear-gradient(0deg, rgba(0, 0, 0, 0.034) 0%, rgb(6, 6, 6) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto); /* EDITAAAR */
    font-family: 'Arial', Times, serif;
    top: 0px;
    color: white;
    width: 100%;
}

/* ---------- Cabeçalho e seção de navegação --------- */

header {
    height: 4.4rem;  /* mudar para 4.2 */ 
    padding: 20px;
    width: 100%;
    background: var(--fundo-topo-scroll);
    position: fixed;
    z-index: 9999;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 28px;
    justify-content: space-between;
}

header section {
    display: inline-flex;
    align-items: center;
}

header.cabecalho-scroll {
    background: var(--fundo-padrão);
}

.cabecalho-responsivo {
    height: 33px;
}

.netflix-logo {
    /* Botão do Netflix */
    height: 33px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.netflix-logo img {
    height: 33px;
    padding-left: 5px;
}

header nav {
    display: flex;
    margin-left: 35px;
}

header nav .fa-caret-up {
    display: none;
}

header nav li {
    display: inline;
    cursor: pointer;
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
    color: #e5e5e5;
    font-family: 'Helvetica Neue', sans-serif;
}

li[class^="inicio"]{
    font-weight: 600;
}

header nav li:hover {
    color: var(--cinza);
}

/* --------- Tabela de Navegar --------------- */

.navegar-menu {
    display: none;
    font-size: 15px;
    padding-left: 40px;
    font-family: 'Rubik', sans-serif;
}

/* ---------- Seção do usuario no cabeçalho  --------- */

.secao-usuario  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ------------ Caixa de Pesquisa ------------- */

#caixa-de-pesquisa {
    width: 30px;
    height: 33px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55);

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;
    border: none;
}

.botao-pesquisar {
    /* botão de pesquisar */
    border: none;
    padding: 5px;
    font-size: 18px;
    color: #FBFBFB;
    border-radius: 5px;
    background: transparent;
    outline: none;
    position: relative;
    cursor: pointer;
}

.botao-pesquisar:hover {
    color: rgba(255, 255, 255, 0.781);
}

#texto-busca {
    height: 100%;
    width: 100%;
    border: none;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    background: transparent;
}

#texto-busca::-webkit-input-placeholder {
    font-size: 14.2px;
    color: rgba(255, 255, 255, 0.555);
    font-family: Arial, Helvetica, sans-serif;
}

input {
    color: rgba(255, 255, 255, 0.555);
}

input:focus, button:focus {
    /* Configurações do Input */
    color: #F9F9F9;
    font-style: normal;
    outline: 0;
}

input::-webkit-search-cancel-button {
    display: none;
}

/* Configurações do simbolos de apagar */

#caixa-de-pesquisa img {
    height: 25px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.não-mostrar-cancelar {
    display: none;
}

.mostrar-cancelar {
    height: 25px;
    display: block;
}

#caixa-de-pesquisa {
    background: transparent;
}

.Elementos {
    height: 25px;
    cursor: pointer;
    margin-left: 25px;
    filter: brightness(0) invert(1);
}

.perfil {
    margin-left: 25px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.perfil img {
    height: 30px;
}

.seta {
    padding-right: 1.8rem;
    padding-left: 0.6rem;
    cursor: pointer;
    height: 10px;
    filter: brightness(0) invert(1);
    -webkit-transition: -webkit-transform 0.2s;
}

/* -------------------------  Filme Principal -------------------------  */

.filme-principal {
    width: 100%;
    height: 700px;
    padding-top: 5rem;
    padding-left: 3.5rem;
    
    background: linear-gradient(to top, var(--preto), #18181873, #18181800),
                        linear-gradient(to right, black, transparent),
                        url('../img/The-Queens-Gambit-Poster.jpg');
    background-size: 100% 7%, 100% 100%, 100% 100%;
    background-position: bottom, 0, 0;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.logo-da-obra {
    width: 40%;
}

.principais-informacoes {
    margin-top: 3rem;
}

/*  Título da Obra  */
.titulo-da-obra {
    font-size: 30px;
    color: #FBFBFB;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Dados básicos da obra */
.informacoes-basicas {
    color: var(--letra-transparente);
    margin: 0.9rem 0 0.9rem 0;
}

p[class^="dados-da-obra"],
p[class^="classificacao-de-idade"] {
    display: inline;
    font-size: 15px;
    letter-spacing: 0.2px;
    word-spacing: 3px;
    vertical-align: middle;
    font-family: 'Arial', sans-serif;
}

p[class^="classificacao-de-idade"] {
    font-size: 16px;
    margin-right: 3px;
    padding: 0 5px 0 4px;
    border: 1px solid var(--letra-transparente);
    font-family:  'Arial Narrow', Arial, sans-serif;
}

/* Parte da Sinopse */

p[class^="sinopse"] {
    width: 42%;
    font-size: 15px;
    font-family: Arial;
    line-height: 19px;
    text-align: justify;
}

/* Informações da produçaõ e do elenco */

.producao-e-elenco {
    margin: 0.9rem 0 0.9rem 0;
}

.topico,
.responsaveis-e-participantes {
    display: inline;
    font-size: 15px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    font-family: Arial, sans-serif;
}

.topico {
    color: var(--letra-transparente);
}

/* Botões do filme principal */

.botoes-filme-principal {
    padding: 1rem 0;
}

button.botao {
    border: none;
    transition: .5s;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 1rem;
    padding: 13px 30px;
    background-color: #8383837c;
    font-family: Arial, Helvetica, sans-serif;
}

.botao p,
button.botao {
    display: inline;
}

.botao p {
    font-weight: bold;
    margin-left: 5px;
}

button.botao:hover {
    color: black;
    cursor: pointer;
    background-color: white;
}