:root {
    --vermelho: #E50914;
    --preto: #181818;
    --preto-escuro: #000000;
}

.search-icon,
.cancel-icon,
.barra  {
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1145px) {
    
    header nav {
        display: none;
        width: 300px;
        z-index: 99;
        text-align: center;
        position: absolute;
        border-radius: 2px;
        padding-bottom: 20px;
        background: #000000d7;
        border-top: 2px solid #ffffffce;
        border-left: 0.5px solid #ffffff5d;
        border-right: 0.5px solid #ffffff5d;
        border-bottom: 0.5px solid #ffffff5d;
        transform: translateY(200px) translateX(30px);
    }

    header nav.mostrar {
        display: block;
    }

    header nav:hover {
        background: #000000ee;
    }

    header nav li {
        display: block;
        text-align: center;
        margin: 2.2rem 0;
    }

    header nav .fa-caret-up {
        display: block;
        font-size: 25px;
        color:#ffffffce;
        transform: translateY(-19px);
    }

    .navegar-menu {
        display: flex;
        cursor: pointer;
    }

    .navegar-menu i {
        margin-left: 10px;
    }
}

/* @media (max-width: 1140px) {
    header {
        padding: 0px;
    }

    .logo {
        padding: 0px;
        flex: 2;
        display: flex;
    }

    .container .logo {
        justify-content: center;
    }

    header .container {
        justify-content: space-between;
        padding: 5px;
    }

    .container {
        margin: 0px;
    }

    header nav {
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 99;
        padding: 0;
        top: 45px;
        height: 100%;
        background: var(--preto);
        display: inline-block;
        padding: 20px 50px 0 50px;

        cursor: pointer;
        list-style: none;
        text-align: center;
        margin-left: -45%;
        margin-right: -100%;
        font-size: 16px;
    }

    header nav li {
        color: #ffffff;
        line-height: 30px;
        margin: 30px 0;
        font-weight: 900;
    }

    header nav li:hover {
        color: var(--vermelho);
        font-weight: 700;
    }

    .usuario {
        position: relative;
    }

    .search-icon,
    .barra {
        display: flex;
    }

} */